<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>Petcare Landing Page</title>
 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <img src="/img/web-logo.png" alt="Website Logo">
    <a class="navbar-brand" href="#"><span class="brand-pet">Pet</span><span class="brand-care">care</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Pets Accessories</a>
              <a class="dropdown-item" href="#">Pet Food</a>
              <a class="dropdown-item" href="#">Buy Pets</a>
              <a class="dropdown-item" href="#">Sell Pets</a>
              <a class="dropdown-item" href="#">Pets Pharmacy</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Vet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
      </ul>
    </div>
    <div class="ml-auto">
      <a href="#" class="btn btn-custom" onclick="window.location.href='/Signup.html';">Sign Up</a>
    </div>
  </nav>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/pets-love.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
       <span><h1 class="display-5 fw-bold custom-text lh-1 mb-3">Taking care </h1>
        <p class="lead custom-text">of your little friends <img src="/img/magic.png" alt="Image 2"></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" onclick="window.location.href='/sign.html';">Sign In</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
