/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #FEDBD0; /* Light pale pink background */
  color: #030957; /* Dark blue text */
}

/* Styling for the h1 header */
h1 {
  text-align: center;
  color: #030957;
}

/* Grid container setup for the ul */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Creates a flexible number of columns */
  grid-gap: 20px; /* Space between grid items */
  padding: 20px;
  list-style-type: none;
  margin: 0;
}

/* List item styles */
li {
  border: 1px solid #FF6A59; /* Border color */
  padding: 10px;
  background-color: #fff; /* White background for products */
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Link styles */
a {
  text-decoration: none;
  color: #030957;
}

/* Product image styles */
img {
  width: 100%;
  max-width: 200px; /* Maximum width of images */
  height: auto;
  transition: transform 0.5s ease;
}

/* Hover effect for images */
img:hover {
  transform: scale(1.1); /* Enlarge image */
  cursor: pointer;
}

/* Product name styles */
.product-name {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Product description styles */
.product-description {
  text-align: center;
  font-size: 0.8em;
}

/* Product price styles */
.product-price {
  color: #FF6A59;
  font-weight: bold;
  text-align: center;
}

/* Add to Cart button styles */
button.add-to-cart {
  background-color: #FF6A59; /* Button background color */
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  display: block;
  margin: 10px 0;
  transition: background-color 0.3s;
}

/* Hover effect for Add to Cart button */
button.add-to-cart:hover {
  background-color: #E65548; /* Darker shade for hover */
}
